# Configuration de l'API
PORT=8000

# Configuration de la base de données (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=retrospective

# jsonwebtoken
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=24h

GMAIL_APP_PASSWORD=your_gmail_app_password
GMAIL_USER=your_email@gmail.com
